{% extends "layout.html" %}
{% block title %}add-node{% endblock %}
{% block head %}
<style type="text/css">

</style>
{% endblock %}

{% block body %}

<form method="post" action="" id="node-form">
    <div style="margin-top:10px;">Node Path:</div>
    <input style="width:100%;" type="text" class="path" value="{{ data.path }}" readonly>

    <div style="margin-top:10px;">Node Data:</div>
    <textarea style="width:100%;" rows="35" name="data">{{ data.value }}</textarea>

    <div style="margin-top:10px;">
        <input type="submit" value="Save">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <span style="color: red;text-decoration: underline;">{{ message }}</span>
                    {% if not loop.last %}&{% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</form>

{% endblock %}

{% block foot %}
<script type="text/javascript">
$(document).ready(function () {
    function resize() {
        var width = $('#node-form').width();
        $('#node-form textarea[name=data]').outerWidth(width);
        $('#node-form input.path').outerWidth(width);
    }

    $(window).on('resize', resize);

    resize();
});
</script>
{% endblock %}